{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign my_name = site.author.name %}

<style>
  @media (max-width: 925px) {
    .publication__img {
      display: none;
    }
  }
</style>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if post.show_year %}
      {% assign current_year = year %}
      <h2>{{ current_year }}</h2>
    {% else %}
      <div style="margin-left: 20px; margin-top: 25px;"></div>
      <!-- width: 200px; height: 1px; border-top: 1px solid #6d6d6d; -->
    {% endif %}

    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; margin-top: 20px;">

        <div style="margin-left: 20px;">
            <h3 class="archive__item-title" itemprop="headline" style="text-decoration: none; margin-top: 0px; margin-bottom: 0;">
                {{ title }}
            </h3>

            {% if post.read_time %}
              <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
            {% endif %}

            {% assign author_array = post.authors | split:my_name %}
            <p style="margin-top: 5px; margin-bottom: 0; font-size: 16px;">{{ author_array[0] }}<span style="font-weight: bold; color: #00acc1;">{{ my_name }}</span>{{ author_array[1] }}</p>

            {% if post.collection == 'teaching' %}
                <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
            {% elsif post.collection == 'publications' %}
                <p style="margin-top: 5px; margin-bottom: 0; font-size: 14px;">{{ post.venue }}</p>
            {% endif %}

            {% if post.paper %}
                <a href="{{post.paper}}" target="_blank" style="padding:0px;margin:0px; margin-left:-8px; font-size:14px; color:#424242;">「PAPER」</a>
            {% endif %}

            {% if post.code %}
                <a href="{{post.code}}" target="_blank" style="padding:0px;margin:0px; margin-left:-12px; font-size:14px; color:#424242;">「CODE」</a>
            {% endif %}
        </div>

        {% if post.image %}
        <div class="publication__img" style="max-width: 300px; overflow: hidden; margin-left: 20px; padding: 5px; border: 1px solid #424242; border-radius: 5px; border-style: dashed;">
            <img src="/images/{{post.image}}" style="height: 120px;"/>
        </div>
        {% endif %}
    </div>
  </article>
</div>
